# Copyright Nathan L Smith <smith@nlsmith.com>
# SPDX-License-Identifier: Apache-2.0

# TODO: Otel export logs from docker compose?
# TODO: Issue with slave when running otel demo https://elastic.slack.com/archives/C031284ANNL/p1728500190563419

# [Compose file](https://docs.docker.com/reference/compose-file/) for Elastic stack
name: elastic-stack-docker-compose
configs:
  api_key_create_params.json:
    content: |
      {
        "name": "elastic-stack-docker-compose-api-key",
        "role_descriptors": {       
          "standalone_agent": { 
            "cluster": ["monitor"], 
            "indices": [{
              "names": ["logs-*-*", "metrics-*-*", "traces-*-*"], 
              "privileges": ["auto_configure", "create_doc"], 
              "allow_restricted_indices": false }],
            "applications": [],
            "run_as": [],
            "metadata": {},
            "transient_metadata": { "enabled": true }
          }
        }
      }
  apm-server.yml:
    file: config/apm-server.yml
  create-api-key.sh:
    file: scripts/create-api-key.sh
  create-certs.sh:
    file: scripts/create-certs.sh
  elasticsearch.yml:
    file: config/elasticsearch.yml
  kibana.yml:
    file: config/kibana.yml
  node.options:
    file: config/node.options
  logs_metrics_traces.yml:
    file: config/otelcol/logs_metrics_traces.yml
  otelcol.yml:
    file: config/otelcol/otelcol.yml
  set-kibana-system-user-password.sh:
    file: scripts/set-kibana-system-user-password.sh
  set-kibana-space-settings.sh:
    file: scripts/set-kibana-space-settings.sh
services:
  apmserver:
    configs:
    - source: apm-server.yml
      target: /usr/share/apm-server/apm-server.yml
    container_name: apmserver
    depends_on:
      elasticsearch:
        condition: service_healthy
      setup_api_key:
        condition: service_completed_successfully
    deploy:
      resources:
        limits:
          memory: 200M
    environment:
    - ELASTIC_APM_SERVER_PORT
    - ELASTIC_PASSWORD
    - ES_PORT
    hostname: host.docker.internal
    image: ${ELASTIC_APM_SERVER_IMAGE}
    ports:
    - "${ELASTIC_APM_SERVER_PORT}:${ELASTIC_APM_SERVER_PORT}"
    restart: unless-stopped
    user: 0:0
    volumes:
    - certs:/usr/share/apm-server/config/certs
    - etc:/etc/elastic
  elasticsearch:
    configs:
    - source: elasticsearch.yml
      target: /usr/share/elasticsearch/config/elasticsearch.yml
    container_name: elasticsearch
    depends_on:
      setup_certs:
        condition: service_completed_successfully
    develop:
      watch:
      - action: sync+restart
        path: config/elasticsearch.yml
        target: /usr/share/elasticsearch/config/elasticsearch.yml
    environment:
    - ELASTIC_PASSWORD
    - cluster.name="${ES_CLUSTER_NAME}"
    - xpack.license.self_generated.type="${ES_LICENSE}"
    healthcheck:
      interval: 2s
      retries: 120
      test:
      - CMD-SHELL
      - curl -s --cacert config/certs/ca/ca.crt https://localhost:${ES_PORT} | grep -q 'missing authentication credentials'
      timeout: 10s
    hostname: host.docker.internal
    image: ${ES_IMAGE}
    mem_limit: ${ES_MEM_LIMIT}
    ports:
    - ${ES_PORT}:${ES_PORT}
    restart: unless-stopped
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
    - certs:/usr/share/elasticsearch/config/certs
    - esdata:/usr/share/elasticsearch/data
    - eslogs:/usr/share/elasticsearch/logs
  kibana:
    scale: 0
    # TODO: Turn on EEM
    # TODO: Error initializing AI assistant resources: Platinum, Enterprise or trial license needed
    # TODO generate encryption keys
    # TODO: Set up alerts for services/hosts on boot
    # TODO: inspect logs queries to the kibana console but it should do them at DEBUG level not WARN
    configs:
      - source: kibana.yml
        target: /usr/share/kibana/config/kibana.yml
      - source: node.options
        target: /usr/share/kibana/config/node.options
    container_name: kibana
    depends_on:
      elasticsearch:
        condition: service_healthy
      setup_kibana_user:
        condition: service_completed_successfully
    develop:
      watch:
      - action: sync+restart
        path: config/kibana.yml
        target: /usr/share/kibana/config/kibana.yml
    environment:
    - ELASTICSEARCH_HOSTS=https://elasticsearch:${ES_PORT}
    - ELASTICSEARCH_PASSWORD=${ELASTIC_PASSWORD}
    healthcheck:
      interval: 10s
      retries: 120
      test:
      - CMD-SHELL
      - curl -s --cacert config/certs/ca/ca.crt https://localhost:5601/api/status
      timeout: 10s
    hostname: host.docker.internal
    image: ${KIBANA_IMAGE}
    mem_limit: ${ES_MEM_LIMIT}
    ports:
    - ${KIBANA_PORT}:${KIBANA_PORT}
    restart: unless-stopped
    volumes:
    - certs:/usr/share/kibana/config/certs
    - kibana_data:/usr/share/kibana/data
    - kibana_logs:/usr/share/kibana/logs
  otelcol:
    # TODO: configure for APM
    # TODO: health check for otelcol
    command: --config /etc/otelcol/logs_metrics_traces.yml --config /etc/otelcol/config.yml  --config /etc/elastic/api_key.yml
    configs:
    - source: logs_metrics_traces.yml
      target: /etc/otelcol/logs_metrics_traces.yml
    - source: otelcol.yml
      target: /etc/otelcol/config.yml
    container_name: "otelcol"
    depends_on:
      elasticsearch:
        condition: service_healthy
      setup_api_key:
        condition: service_completed_successfully
    deploy:
      resources:
        limits:
          memory: 200M
    develop:
      watch:
      - action: sync+restart
        path: config/otelcol.yml
        target: /etc/otelcol/config.yml
    environment:
    - ELASTIC_AGENT_OTEL
    - ELASTIC_API_KEY=x # This is overriden and ignored
    - ELASTIC_APM_SERVER_PORT
    - ELASTIC_ENDPOINT
    - ELASTIC_PASSWORD
    - ES_PORT
    - KIBANA_PORT
    - OTEL_COLLECTOR_PORT_GRPC
    - OTEL_COLLECTOR_PORT_HTTP
    - STORAGE_DIR=/usr/share/elastic-agent
    hostname: host.docker.internal
    image: ${COLLECTOR_CONTRIB_IMAGE}
    ports:
    - "${OTEL_COLLECTOR_PORT_GRPC}:${OTEL_COLLECTOR_PORT_GRPC}"
    - "${OTEL_COLLECTOR_PORT_HTTP}:${OTEL_COLLECTOR_PORT_HTTP}"
    restart: unless-stopped
    user: 0:0
    volumes:
    - ${HOST_FILESYSTEM}:/hostfs:ro
    - ${DOCKER_SOCK}:/var/run/docker.sock:ro
    - certs:/usr/share/elastic-agent/config/certs
    - eslogs:/usr/share/elastic-agent/logs/es
    - etc:/etc/elastic
    - kibana_logs:/usr/share/elastic-agent/logs/kibana
    - otel_registry:/usr/share/elastic-agent/otel_registry
  setup_api_key:
    command: bash /usr/share/elasticsearch/bin/create-api-key.sh
    configs:
    - source: api_key_create_params.json
      target: /etc/elastic/api_key_create_params.json
    - mode: 0700
      source: create-api-key.sh
      target: /usr/share/elasticsearch/bin/create-api-key.sh
    container_name: "setup_api_key"
    depends_on:
      elasticsearch:
        condition: service_healthy
    environment:
    - ELASTIC_PASSWORD
    - ES_PORT
    hostname: host.docker.internal
    image: pnnlmiscscripts/curl-jq
    user: "0"
    volumes:
    - certs:/usr/share/elasticsearch/config/certs
    - etc:/etc/elastic
  setup_certs:
    command: bash bin/create-certs.sh
    configs:
    - mode: 0700 
      source: create-certs.sh
      target: /usr/share/elasticsearch/bin/create-certs.sh
    container_name: "setup_certs"
    hostname: host.docker.internal
    image: ${ES_IMAGE}
    user: "0"
    volumes:
    - certs:/usr/share/elasticsearch/config/certs
  setup_kibana_space:
    configs:
    - mode: 0700
      source: set-kibana-space-settings.sh
      target: /bin/set-kibana-space-settings.sh
    container_name: setup_kibana_space
    depends_on:
      kibana:
        condition: service_healthy
      setup_kibana_user:
        condition: service_completed_successfully
    environment:
    - ELASTIC_PASSWORD
    - KIBANA_PORT
    hostname: host.docker.internal
    image: pnnlmiscscripts/curl-jq
    command: bash bin/set-kibana-space-settings.sh
    volumes:
    - certs:/usr/share/elasticsearch/config/certs
  setup_kibana_user:
    configs:
    - mode: 0700
      source: set-kibana-system-user-password.sh
      target: /bin/set-kibana-system-user-password.sh
    container_name: "setup_kibana_user"
    depends_on:
      elasticsearch:
        condition: service_healthy
    environment:
    - ELASTIC_PASSWORD
    - ES_PORT
    - KIBANA_PASSWORD
    hostname: host.docker.internal
    image: pnnlmiscscripts/curl-jq
    command: bash bin/set-kibana-system-user-password.sh
    volumes:
    - certs:/usr/share/elasticsearch/config/certs
volumes:
  bin:
    driver: local
  certs:
    driver: local
  esdata:
    driver: local
  eslogs:
    driver: local
  etc:
    driver: local
  kibana_data:
    driver: local
  kibana_logs:
    driver: local
  # See https://github.com/elastic/elastic-agent/blob/main/internal/pkg/otel/README.md#persistence-in-standalone-docker-mode
  otel_registry:
    driver: local
